body{
    background:url(atta9.jpeg);
   background-repeat: no-repeat; background-size: cover;
    background-attachment: fixed;
}
#header{
    margin-left: 400px;
     position: relative;
     bottom: 50px;
      display: flex;
      align-items: center;
       justify-content: space-evenly;
}
#home{
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 150px;
    color: rgb(255, 255, 255);
    font-size: 25px;
     border-radius: 20px;
     font-weight: 900;
}
#home:hover{
    background-color: rgb(255, 255, 255);
}
#products{
     background-color: rgb(0, 0, 0);
    height: 50px;
    width: 150px;
    color: rgb(255, 255, 255);
    font-size: 25px;
     border-radius: 20px;
     font-weight: 900;
}
#products:hover{
    background-color: rgb(255, 255, 255);
}
#aboutus{
     background-color: rgb(0, 0, 0);
    height: 50px;
    width: 150px;
    color: rgb(255, 255, 255);
    font-size: 25px;
     border-radius: 20px;
     font-weight: 900;
}
#aboutus:hover{
    background-color: rgb(255, 255, 255);
}
#contactus{
     background-color: rgb(0, 0, 0);
    height: 50px;
    width: 150px;
    color: rgb(255, 255, 255);
    font-size: 25px;
     border-radius: 20px;
     font-weight: 700;
    
}
#contactus:hover{
    background-color: rgb(255, 255, 255);
}
#our{
    color: rgb(255, 255, 255);
     text-align: center;
       background-color: black;
        border-radius: 20px;
        margin-left: 450px;
        width: 530px;
        height: 50px;
}
#item1{
    height: 400px;
    width: 500px;
    border: 5px solid black;
     position: relative;
     top: 100px;
     left: 500px;
      box-shadow: 10px 0px 30px 10px rgb(174, 121, 121);
       border-radius: 20px ;
        color: white;
         background-color: black;
         animation-name: harry3;
         animation-timing-function: ease-in-out;
         animation-delay: 2s;
         animation-duration: 2s;
         animation-iteration-count: infinite;
         animation-direction: normal;
}
@keyframes harry3{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(30px);
    }
}
#atta2{
    height: 200px;
     width: 50%;
      position: relative;
       left: 120px;
        top: 30px;
      border-radius: 20px;
       
}
#item2{
    height: 400px;
    width: 500px;
    border: 5px solid black;
     position: relative;
     top: 200px;
     left: 500px;
      box-shadow: 10px 20px 30px 10px rgb(174, 121, 121);
       border-radius: 20px ;
        color: white;
        background-color: black;
        animation-name: harry7;
         animation-timing-function: ease-in-out;
         animation-delay: 2s;
         animation-duration: 2s;
         animation-iteration-count: infinite;
         animation-direction: normal;
}
@keyframes harry7{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(30px);
    }
}
#atta2{
     height: 200px;
     width: 50%;
      position: relative;
       left: 120px;
        top: 30px;
      border-radius: 20px;
}
#atta4{
    height: 200px;
     width: 50%;
      position: relative;
       left: 120px;
        top: 30px;
      border-radius: 20px;
}
#item3{
 height: 400px;
    width: 500px;
    border: 5px solid black;
     position: relative;
     top: 300px;
     left: 500px;
      box-shadow: 10px 0px 30px 10px rgb(174, 121, 121);
       border-radius: 20px ;
        color: white;   
        background-color: black;
animation-name: harry9;
         animation-timing-function: ease-in-out;
         animation-delay: 2s;
         animation-duration: 2s;
         animation-iteration-count: infinite;
         animation-direction: normal;
}
@keyframes harry9{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(50px);
    }
    }
#about{
     height: 400px;
    width: 1000px;
    border: 5px solid black;
     position: relative;
     top: 400px;
     left: 250px;
      box-shadow: 10px 0px 30px 10px rgb(174, 121, 121);
       border-radius: 20px ;
        color: white;  
         background-color: black; 
}
#contact{
    height: 450px;
    width: 1000px;
    border: 5px solid rgb(255, 252, 252);
     position: relative;
     top: 500px;
     left: 250px;
      box-shadow: 10px 0px 30px 10px rgb(174, 121, 121);
       border-radius: 20px ;
        color: white;  
         background-color: black; 
}
#map{
      height: 600px;
    width: 1000px;
    border: 5px solid rgb(255, 252, 252);
     position: relative;
     top: 520px;
     left: 250px;
      box-shadow: 10px 0px 30px 10px rgb(174, 121, 121);
       border-radius: 20px ;
        color: white;  
         background-color: black; 
         display: inline-block;
        }
        iframe{
            position: relative;
            bottom:100px;
            left: 400px;
         border-radius: 20px;
        }
        #well{
            animation-name: harry2;
            animation-timing-function: ease-in-out;
            animation-delay: 2s;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: normal;
             transform: translateY(20px);
        }
        @keyframes harry2{
            from{
                transform: translateY(0px);
            }
            to{
                transform: translateY(-50px);
            }
        }